<div class="main-content">
	<div class="header">otters</div>
	<div class="description">
		<p>The heaviest members of the weasel family, sea otters are also the second smallest marine mammals. Unlike other marine mammals, they do not have a layer of blubber to help them keep warm. Instead, sea otters have the densest fur in the animal kingdom, ranging from 250,000 to a million hairs per square inch, which insulates them.</p>
		<p>Boring facts aside, they hold hands while sleaping so they don't drift apart! Aww...</p>
	</div>
	<img src="./images/jumping_otters.gif" alt="jumping otters">
	<img src="./images/otters_holding_hands.gif" alt="holding hands">
	<img src="./images/otter-ouch.gif" alt="ouch">
</div>