<div class="main-content">
	<div class="header">puppies</div>
	<div class="description">
		<p>A puppy is a juvenile dog. Some puppies can weigh 1–3 lb (0.45–1.36 kg), while larger ones can weigh up to 15–23 lb (6.8–10.4 kg). All healthy puppies grow quickly after birth. A puppy's coat color may change as the puppy grows older, as is commonly seen in breeds such as the Yorkshire Terrier. In vernacular English, puppy refers specifically to dogs while pup may often be used for other mammals such as seals, giraffes, guinea pigs, or even rats. <span class="source">extracted from Wikipedia</span></p>		
		<p>TL:DR - They're adorable! Just look at them...</p>
	</div>
	<div class="gallery">
		<img src="./images/puppy1.jpg" alt="puppy 1">
		<img src="./images/puppy2.jpg" alt="puppy 2">
		<img src="./images/puppy3.jpg" alt="puppy 3">
	</div>
</div>