<main>
  <h1>Hello from Angular 2 App with Webpack</h1>
  <img src="../../public/images/angular.png">
  <p>
      Lorem ipsum dolor sit amet, id dolorum ponderum legendos nam, has munere posidonium in. Mucius blandit qui ut, timeam graecis sententiae quo an. Cum quas lobortis in. Probo detracto sit te, cum et choro saepe. Aperiam eruditi moderatius sea ut, duo ea sint etiam utinam. Eos no atqui complectitur, in clita menandri ius, te vix odio solet explicari.

Cum at primis nostrum laboramus. Quaeque inciderint quo ex, cum eu summo utamur. Explicari corrumpit suscipiantur cu sea, ne nec aliquam qualisque. Vel cu animal albucius. An augue tibique quo, ridens debitis mea at. Pertinax consequuntur ne usu, laoreet vituperatoribus te mel, vide dicta ex vim.

Dictas evertitur elaboraret pri ex, discere mediocrem adolescens in vim. Mei debitis fastidii forensibus ei, ex sea facilis expetendis theophrastus. Per blandit delectus vituperatoribus ut, quo te forensibus scripserit. Error aliquid eos ut, ex ius dolor populo. Meis option an vis, vel ex rebum antiopam. Nec ut populo rationibus sadipscing.

Vis rationibus elaboraret no. Sale quaeque verterem no duo. Augue oportere maiestatis est an, cu mei brute decore discere, eos et tantas regione. Mei quodsi euismod scaevola ad, graece laoreet maiestatis qui ei. Aeque imperdiet nam ea, duo ignota apeirian petentium ut, accusam accumsan sadipscing nec te.

Ne est tation tollit efficiendi. Vero periculis quo in, nec ullum semper et. Nec eu primis volumus vituperatoribus. Ea cum ludus prompta mediocritatem. Dicit definiebas sea ei, ei porro erroribus philosophia eam. Duo ea fastidii detracto, mea et fabulas vituperatoribus.
  </p>
</main>